/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: #0c2547;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #33d6ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  outline: none;
}
.nav {
  display: flex;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  outline: none;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  outline: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 0.5s;
}
.nav a:hover {
  color: white;
}

header {
  text-align: center;
  background: url('images/bg.png') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  outline: none;
}

header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 40%;
  border: 3px solid black;
  transition: all 0.5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
.tag {
  background-color: #0c2547;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #0c2547;
  color: white;
}
.card1 {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: url('images/ancient1.png') no-repeat top center;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all 0.5s;
}
.card1:hover {
  border-color: #0499cf;
}

.card2 {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: url('images/ancient2.png') no-repeat top center;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all 0.5s;
}
.card2:hover {
  border-color: #0499cf;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #293d59;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #293d59;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.8;
  transition: all 0.5s;
}
a.mastodon {
  background-image: url(images/Mastodon.png);
}
a.codepen {
  background-image: url(images/codepenLogo.png);
}
a.github {
  background-image: url(images/github.svg);
}
a.medium {
  background-image: url(images/medium.png);
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

.header1 h1 {
  text-align: left;
  margin-top: 50px;
  margin-left: 10px;
}
.header1 {
  display: flex;
  justify-content: left;
  align-items: center;
}
.container {
  width: 80%;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container1 {
  width: 80%;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
}
.container2 {
  width: 95%;
  margin: 2px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container3 {
  width: 99%;
  margin: 2px;
  border-radius: 10px;
  padding: 7px;
  background: #e8fbff;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume {
  display: flex;
  width: 100%;
  margin-top: 0px;
}
.resume .sidebar {
  margin: 2px;
  border-radius: 15px;
  background: #fff;
  color: #000;
  width: 30%;
  padding: 20px;
}
.resume .main-content {
  width: 100%;
  display: flex;
  padding-left: 20px;
}

.resume .sidebar h2 {
  color: #333;
}
.resume .main-content h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
.skills-list,
.experience-list,
.education-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.skills-list li,
.experience-list li,
.education-list li {
  margin-top: 0px;
}
.footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
}

.job-title-with-date {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.job-title-with-date h3 {
  margin: 0;
}

.date {
  white-space: nowrap;
  margin: 0;
  line-height: 1;
}

ul,
ol {
  padding-left: 20px;
  margin-left: 0;
  text-align: left;
}

li {
  margin-left: 0;
}

.date {
  white-space: nowrap;
  margin: 0;
  line-height: 1;
}

.projects-list,
.interests-list {
  list-style: none;
  padding: 0;
}

.projects-list li,
.interests-list li {
  margin-bottom: 0px;
}

.projects-list a {
  text-decoration: none;
  color: #0066cc;
}

a {
  color: #0d8ea8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact-links a {
  font-weight: bold;
}

.skills-list2 {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills-list2 li {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.p1 {
  margin-top: 120px;
  margin-left: 50px;
}

body.soh {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: #3d6d73;
}
.wrapper {
  width: 250px;
}
.sketch {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d6d73;
}



.iframe-container iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    border: none; 
    padding-top:20px;
    scroll-behavior: smooth;
    
}
